/*Code for Form*/

@media screen and (min-width: 600px) {
    form {
        display: grid;
        grid-template-columns: 600px;
    }
}
@media screen and (max-width: 600px) {
    form{
        width: 100%;
        }
    input,select,textarea {
        width: 100%;
        }
    }

/*Code for Picture Card*/

.card:hover {
    width: 344px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, .3);
}

.desertimg {
    height: 194px;
}

.avatarimg {
    border-radius: 50%;
    float: left;
    height: 40px ;
    margin-left: 10px;,
}

.pctitle  {
    color: #000;
    float: left;
    font-size: 22px; /*Size 16 could make the pic look better*/
    margin-left: 10px;
}

.pcsectext {
    color: #232F34;
    display: inline-block;
    margin-left: 10px;
}

.pctext {
    color: #232F34;
    font-size: 11px;
    padding: 16px;/*No Padding could make the pic look better*/
}
