/*Code for Form*/

@media screen and (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 600px;
        color: green;
    }
}
@media screen and (max-width: 600px) {
    .grid{
        display: inline-block;
        width: 100;
        }
    input,select,textarea {
        width: 100%;
        }
    }
}

/*Code for Picture Cad*/

.card {
    width: 100px;
}

.avatarimg {
    border-radius: 50%;
}















